@import url('https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
    font-family: "Merriweather", "LXGW WenKai Screen", sans-serif !important;
}

/* 3. 标题字体加粗 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", "LXGW WenKai Screen", sans-serif !important;
    font-weight: 700;
}

/* 4. 代码块字体 (保持等宽，推荐 JetBrains Mono 或 Fira Code) */
code {
    font-family: Consolas, Monaco, "Andale Mono", monospace !important;
}