
body {
   
    font-family: "Merriweather", "LXGW WenKai Screen", sans-serif !important;
    font-size: 1rem; 
    line-height: 1.6; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", "LXGW WenKai Screen", sans-serif !important;
    font-weight: 700;
}

.post-content pre, code {
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 14px;   
    line-height: 1.4;   
    max-height: 40rem; 
}


:not(pre) > code {
    background: rgba(100, 100, 100, 0.1);
    padding: 2px 4px;
    border-radius: 4px;
    color: #c7254e; }


.toc a {
    transition: all 0.3s ease; 
    padding: 2px 0;
    display: block; 
    border-left: 2px solid transparent; 
    padding-left: 5px;
    text-decoration: none !important; 
}

.toc a:hover {
    color: var(--primary);
    transform: translateX(5px);
    border-left: 2px solid var(--primary); 
    background-color: rgba(var(--primary-rgb), 0.05);
}